{% extends 'youminer/base.html' %}
{% block content %}
{% for question in questions%}
question: {{question.question}} <br>
choices:<br>
    <form>
        {% for choice in question.choices %}
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="">
                    {{choice}}
                </label>
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
<hr>
{% endfor %}
{% endblock %}
